@model Wedding.Models.PageInfo

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/Site.Master.cshtml";
}

<h2 class="page-title"></h2>

@{ 
    DateTime wdate = new DateTime(2013, 6, 22);
    var monthsToWedding = Math.Abs((wdate.Month - DateTime.Now.Month) + 12 * (wdate.Year - DateTime.Now.Year));


    if (Model.Language == "en")
    {
    <p>
        Welcome to James and Gema's lovely and expertly written website! I hope you find the information here useful, 
            we are both looking forward to seeing you on the <b>22nd June</b>. Only <b>@monthsToWedding months</b> to go!
    </p>
    <p>
        Our gift list will open on <b>11/05/13</b> please have a look if you can! 
    </p>
    <p>
        The number is <b>520538</b> and you can login <a href="https://www.johnlewisgiftlist.com/giftint/JSPs/GiftList/BuyGifts/GuestFindAList.jsp">here</a>
    </p>
    }
    else
    {
    <p>
        Bienvenidos a la web de nuestra boda!. Hemos hecho esta web con información que os será muy útil para haceros el viaje más fácil. 
            Iremos actualizando la web poco a poco. Ya quedan poco minus de  @monthsToWedding meses :)
    </p>
    }
}
<br />
<img alt="James and Gema" src='@Url.Content("../../Content/Images/jamesandgema.jpg")' />


